

<div class="jumbotron jumbotron-fluid" id=<%= @color %>>
<div class="container">
<p class="lead text-white">The Air Quality Value is:</p>
  <h1 class="display-4 text-white"><%= @final_output %></h1>
</div>
</div>





